@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
body {
  background-color: #3d087b;
}
.gridContainer {
  width: 80%;
  height: 99vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gridContainer1 {
  margin-right: 0px;
}
/* gridContainer1 styling */
.digitalClock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
.clockImgName {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.clockImage {
  background-image: url("./images//clock.png");
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}
.clockName {
  font-family: "Secular One", sans-serif;
  color: #ffffff;
  font-size: 2.6rem;
  margin-left: -4rem;
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.alarmTime {
  width: 95%;
  margin: 10px auto;
  height: 45vh;
  background-color: aliceblue;
  border-radius: 7px;
}
.setTime {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  position: relative;
}
.setTime #div1 {
  background-image: url("./images/sunbright.svg");
  width: 10%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.setTime #div2 {
  background-image: url("./images/lunch.svg");
  width: 10%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.setTime #div3 {
  background-image: url("./images/nap.svg");
  width: 10%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.setTime #div4 {
  background-image: url("./images/night.svg");
  width: 10%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.optionLabel {
  margin-left: 40px;
  font-size: 20px;
  color: #441180;
}
.option {
  width: 15rem;
  height: 35px;
  position: absolute;
  right: 10px;
  font-size: 15px;
  color: #441180;
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(223, 217, 217);
  padding: 5px;
}
.wishShow {
  font-family: "Secular One", sans-serif;
  width: 95%;
  margin: 10px auto;
  height: 65px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #6a419a;
  border-radius: 5px;
}
.setAlarm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
.alarm {
  width: 90%;
  margin: auto;
}
.setAlarmButton {
  width: 100%;
  height: 40px;
  font-size: 24px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ee5bfd, #8454ef);
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.setAlarmButton:hover {
  background-image: linear-gradient(to right, #8454ef, #ee5bfd);
}
.showAlarmTime {
  width: 90%;
  margin: 15px auto;
  background-color: #6a419a;
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  color: #c989d8;
}
/* gridContainer 2nd styling */
.gridContainer2 {
  margin-left: 0px;
}
.upperContainerFirst {
  width: 90%;
  height: 100px;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}
.labelFirst1 {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 9.6%;
  background-color: #fff;
  opacity: 0.7;
  z-index: -1;
  border-radius: 8px;
}
.labelFirst2 {
  width: 72%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 14%;
  background-color: #fff;
  opacity: 0.2;
  z-index: -1;
  border-radius: 10px;
}
.upperContainerSecond {
  width: 90%;
  height: 80px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 1px;
  color: #3d087b;
  font-weight: bold;
  text-transform: uppercase;
}
.upperContainerThird {
  background-image: url("./images/sleep.png");
  width: 90%;
  height: 48vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.alarmImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.timeContainer {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #3d087b;
}
.hoursSet {
  height: 100%;
  width: 12%;
  padding: 10px 10px;
  background-color: #f6e2ff;
  font-size: 22px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3d087b;
}
.minuteSet {
  height: 100%;
  width: 12%;
  padding: 10px 10px;
  background-color: #f6e2ff;
  font-size: 22px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3d087b;
}
.secondSet {
  height: 100%;
  width: 12%;
  padding: 10px 10px;
  background-color: #f6e2ff;
  font-size: 22px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3d087b;
}
.am {
  height: 100%;
  width: 12%;
  padding: 25px 12px;
  background-color: #f6e2ff;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#b752f5, #e257fb);
  color: #ffff;
}
.colum {
  font-size: 25px;
  font-weight: bold;
  color: #3d087b;
}
/* responsive style */
@media (max-width: 1539px) {
  .clockName {
    margin-left: -2rem;
  }
}
@media (max-width: 1338px) {
  .gridContainer {
    width: 90%;
  }
}
@media (max-width: 1185px) {
  .gridContainer {
    width: 100%;
  }
}
@media (max-width: 1053px) {
  .option {
    width: 10rem;
    height: 35px;
  }
}
/* Mobile responsive */
@media (max-width: 978px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }
  .clockImgName {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-left: 250px;
  }
  .clockName {
    margin-left: 20px;
  }
  .option {
    width: 15rem;
    height: 35px;
  }
  .upperContainerThird {
    width: 90%;
    height: 48vh;
    padding-bottom: 20px;
  }
}
@media (max-width: 921px) {
  .clockImgName {
    margin-left: 210px;
  }
}
@media (max-width: 756px) {
  .clockImgName {
    margin-left: 160px;
  }
}
@media (max-width: 690px) {
  .clockImgName {
    margin-left: 150px;
  }
}
@media (max-width: 579px) {
  .clockImgName {
    margin-left: 120px;
  }
  .timeContainer {
    font-size: 20px;
  }
  .hoursSet {
    font-size: 17px;
  }
  .minuteSet {
    font-size: 17px;
  }
  .secondSet {
    font-size: 17px;
  }
  .am {
    height: 70px;
    width: 12%;
    font-size: 19px;
  }
  .colum {
    font-size: 25px;
  }
}
@media (max-width: 528px) {
  .clockImgName {
    margin-left: 100px;
  }
  .option {
    width: 10rem;
    height: 35px;
  }
  .setAlarm {
    display: flex;
    flex-direction: column;
    margin-bottom: -35px;
  }
  .alarm {
    width: 95%;
  }
  .showAlarmTime {
    width: 95%;
  }
  .upperContainerSecond {
    font-size: 20px;
    margin-bottom: -22px;
  }
}
@media (max-width: 440px) {
  .clockImgName {
    margin-left: 80px;
  }
  .option {
    width: 7rem;
    height: 35px;
  }
  .timeContainer {
    font-size: 18px;
  }
  .hoursSet {
    font-size: 13px;
  }
  .minuteSet {
    font-size: 13px;
  }
  .secondSet {
    font-size: 13px;
  }
  .am {
    height: 55px;
    width: 12%;
    font-size: 15px;
  }
}
@media (max-width: 378px) {
  .clockImgName {
    margin-left: 50px;
  }
  .optionLabel {
    margin-left: 10px;
    font-size: 15px;
  }
  .option {
    width: 7rem;
    height: 35px;
    font-size: 15px;
  }
}
@media (max-width: 292px) {
  .upperContainerSecond {
    font-size: 20px;
  }
}
